.route-link {
    text-decoration: none;
    color: #222222;
}
.ul-list {
    list-style-type: none;
    display: flex;
    margin: 0;
}
.nav-link {
    padding: 10px;
    color: #222222;
    font-weight: bold;
}
.navbar {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 6px;
}